<div class="navbar navbar-inverse navbar-fixed-top bg-primary">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Order Purchase System", "Index", "Customer", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapsey">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Customer", "Index", "Customer")</li>
                <li>@Html.ActionLink("SKUs", "Index", "SKU")</li>
                <li>@Html.ActionLink("Orders", "Index", "Order")</li>
            </ul>
        </div>
    </div>
</div>
